section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed hsl(0deg 0% 75%);
    padding: 24px;
    margin-bottom: 32px;
}
.star-wrapper {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.gold-star {
    width: 32px;
    height: 32px;
}
h2 {
    margin-bottom: 16px;
}

.wrapper {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.gradient-preview {
    aspect-ratio: 2 / 1;
    min-height: 75px;
    border-radius: 4px;
}
.colors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}
.color-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-wrapper label {
    display: block;
}
input[type=color] {
    width: 75px;
    height: 75px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.actions button {
    font-size: 1.125rem;
    padding: 8px 16px;
}